.slick-prev:before, .slick-next:before {

  color: rgba(128, 128, 128, 0.479) !important;
  font-size: 2rem !important;
  right: 0 !important;
  /* top: 0px !important; */
position: absolute !important;
}

.slick-arrow .slick-next{
  right: 0px !important;
}


.width-item {
  width: 100%  !important;
}

.active_Film {
  @apply bg-gray-800 text-white;
}


.none_active_Film {
  @apply bg-white text-gray-800;
}

  @media only screen and (max-width: 1024px){
     iframe{
      width: 500px;
      height: 250px;
      
    }
  }
  @media only screen and (max-width: 640px){
     iframe{
      width: 360px;
      height: 180px;
      
    }
  }
